.u-sidebar-item {
  &:hover {
    @apply cursor-pointer text-black;
  }

  &:hover &__inner {
    @apply bg-gray-50;
  }

  &__icon {
    @apply w-11 h-11 inline-flex items-center justify-center;
    @apply mr-2 -ml-4;
  }

  &__inner {
    @apply text-base font-medium;
    @apply transition-all my-1 truncate;
    @apply px-4 inline-flex h-11 items-center rounded-lg;
  }

  &--active &__inner,
  &--active:hover &__inner {
    @apply bg-blue-50 text-blue-500;
  }
}