.u-btn {
  @apply inline-flex items-center relative;
  @apply rounded shadow-sm;
  @apply px-4 h-10 font-medium bg-white whitespace-nowrap;
  @apply border-black border-opacity-5 border;
  @apply transition-all outline-none text-gray-700;

  &__append {
    @apply ml-2;
  }

  &__prepend {
    @apply mr-2;
  }

  &:focus {
    @apply outline-none;
  }

  &:after {
    content: "";
    border-radius: inherit;
    background: currentColor;

    @apply absolute inset-0;
    @apply transition-all opacity-0;
  }

  &:hover {
    &:after {
      @apply opacity-5;
    }
  }

  &.primary {
    @apply bg-blue-500 border-none text-white;
  }

  &.success {
    @apply bg-green-500 border-none text-white;
  }

  &.error {
    @apply bg-red-500 border-none text-white;
  }

  &.warning {
    @apply bg-yellow-500 border-none text-white;
  }

  &.info {
    @apply bg-purple-500 border-none text-white;
  }

  &.is-dense {
    @apply h-8 px-3 text-sm;
  }

  &.is-muted {
    @apply shadow-none border-none bg-gray-50 text-gray-700;

    &.primary {
      @apply bg-blue-50 text-blue-500;
    }

    &.success {
      @apply bg-green-50 text-green-500;
    }

    &.error {
      @apply bg-red-50 text-red-500;
    }

    &.warning {
      @apply bg-yellow-50 text-yellow-500;
    }

    &.info {
      @apply bg-purple-50 text-purple-500;
    }
  }

  &.is-text {
    @apply bg-transparent border-none shadow-none text-gray-700;

    &.primary {
      @apply text-blue-500;
    }

    &.success {
      @apply text-green-500;
    }

    &.error {
      @apply text-red-500;
    }

    &.warning {
      @apply text-yellow-500;
    }

    &.info {
      @apply text-purple-500;
    }
  }

  &.is-icon {
    min-height: 2.5rem;
    max-height: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;

    @apply p-0 justify-center rounded-full;

    &.is-dense {
      min-height: 2rem;
      max-height: 2rem;
      min-width: 2rem;
      max-width: 2rem;
    }
  }

  &.is-disabled {
    @apply opacity-40 pointer-events-none;
  }

}