.u-btn {
  @apply inline-flex items-center relative;
  @apply rounded-lg shadow-sm;
  @apply px-4 h-11 font-medium bg-white whitespace-nowrap;

  @apply transition-all outline-none;

  @apply focus:outline-none;

  &:after {
    content: "";
    border-radius: inherit;
    background: currentColor;
    @apply absolute inset-0;
    @apply transition-all opacity-0;
  }

  &:hover {
    &:after {
      @apply opacity-10;
    }
  }

  &--primary {
    @apply bg-blue-500 text-white;
  }

  &--success {
    @apply bg-green-500 text-white;
  }

  &--error {
    @apply bg-red-500 text-white;
  }

  &--warning {
    @apply bg-yellow-500 text-white;
  }

  &--info {
    @apply bg-purple-500 text-white;
  }

  &--dense {
    @apply h-8 px-3 text-sm;
  }

  &--muted {
    @apply shadow-none bg-gray-50 text-gray-700;
  }

  &--muted.u-btn--primary {
    @apply bg-blue-50 text-blue-500;
  }

  &--muted.u-btn--success {
    @apply bg-green-50 text-green-500;
  }

  &--muted.u-btn--error {
    @apply bg-red-50 text-red-500;
  }

  &--muted.u-btn--warning {
    @apply bg-yellow-50 text-yellow-500;
  }

  &--muted.u-btn--info {
    @apply bg-purple-50 text-purple-500;
  }

  &--text {
    @apply bg-transparent shadow-none text-gray-500;
  }

  &--text.u-btn--primary {
    @apply text-blue-500;
  }

  &--text.u-btn--success {
    @apply text-green-500;
  }

  &--text.u-btn--error {
    @apply text-red-500;
  }

  &--text.u-btn--warning {
    @apply text-yellow-500;
  }

  &--text.u-btn--info {
    @apply text-purple-500;
  }
}