.u-avatar {
  @apply overflow-hidden rounded-full bg-gray-100;
  @apply inline-flex items-center justify-center;
  @apply font-medium text-lg text-gray-500;

  img,
  svg,
  .u-image {
    display: inline-flex;
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }

  &--squared {
    @apply rounded-lg;
  }
}