.u-avatar {
  @apply inline-flex items-center justify-center;
  @apply rounded-full relative text-center align-middle overflow-hidden;
  @apply bg-gray-100 text-gray-700 font-medium;
  line-height: normal;

  &--left {
    @apply -ml-2 mr-2;
  }

  &--right {
    @apply -mr-2 ml-2;
  }

  &--squared {
    @apply rounded-lg;
  }

  img,
  svg,
  .u-image {
    @apply inline-flex;
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }
}