.u-card {
  @apply flex w-full flex-col items-start rounded-lg bg-white shadow-card p-4;

  &--wheel {
    @apply border-transparent bg-gray-50 shadow-none;
  }

  &--gradient {
    @apply border-transparent;
  }

  &--flat {
    @apply bg-transparent border-none shadow-none;
  }

  &__prepend {
    @apply mr-2;
  }

  &__append {
    @apply ml-2;
  }
}
