@import "../../assets/mixins";

.u-list {
  @apply block overflow-hidden;

  &-item {
    min-height: 3rem;
    flex: 1 1 100%;
    @apply flex items-center px-4;
    @apply outline-none relative;

    &:before {
      content: "";
      @apply absolute inset-0 transition-all opacity-0;
      background: currentColor;
    }

    @include hover{
      &:hover {
        &:before {
          @apply opacity-5;
        }
      }
    }

    &__content {
      flex: 1 1;
      @apply py-3 items-center self-center flex flex-wrap;
      @apply overflow-hidden;

      > * {
        line-height: 1.1;
        flex: 1 0 100%;

        &:not(:last-child) {
          @apply mb-0.5
        }
      }
    }

    &__action {
      @apply self-center flex;
      @apply ml-4 my-3;

      &-text {
        @apply text-xs text-gray-400;
      }

      &--stack {
        align-items: flex-end;
        align-self: stretch;
        justify-content: space-between;
        white-space: nowrap;
        flex-direction: column;
      }
    }

    &__avatar {
      @apply self-center justify-start my-4;

      &:first-child {
        @apply mr-4;
      }
    }

    &__icon {
      @apply self-start mt-4 mb-3;
    }

    &__icon, &__avatar, &__action {
      &:last-of-type:not(:only-child) {
        @apply ml-4
      }
    }

    &__icon, &__action {
      &:first-child {
        @apply mr-8;
      }
    }

    &__title, &__subitle {
      @apply leading-tight truncate;
      flex: 1 1 100%;
    }

    &__title {
      @apply self-center;
    }

    &__subtitle {
      @apply text-sm text-gray-400;
    }

    &--active {
      @apply text-purple-500;

      .u-list-item__subtitle {
        @apply text-purple-300
      }

      @include hover {
        &:hover {
          &:before {
            @apply bg-purple-500 opacity-10;
          }
        }
      }

      &:before {
        @apply bg-purple-500 opacity-10;
      }
    }

    &--disabled {
      @apply pointer-events-none;
    }
  }

  &--dense {
    min-height: 2.5rem;

    .u-list-item__icon {
      @apply h-6 my-3;
    }

    .u-list-item__content {
      @apply py-1.5;
    }

    .u-list-item__action {
      @apply my-1;
    }

    .u-list-item__title {
      @apply text-sm;
    }
  }

  &--disabled {
    @apply pointer-events-none;
  }

  &--flat {
    .u-list-item:before {
      @apply hidden;
    }
  }

  &--nav {
    @apply px-2 py-0;

    .u-list-item {
      @apply py-0 px-2;

      &:not(:last-child) {
        @apply mb-1
      }

      &:before {
        @apply rounded-lg;
      }

      &__icon {
        @apply pl-2;
      }

    }

    &.u-list--dense {
      .u-list-item__icon {
        @apply pl-1;
      }
    }
  }
}
