.u-row {
  @apply flex flex-wrap flex-auto -m-4;

  & + .u-row {
    @apply mt-4;

    &--dense {
      @apply mt-2;
    }
  }

  &--dense {
    @apply -m-2;

    > .u-col, [class*='col-'] {
      @apply p-2;
    }
  }

  &--noGutters {
    @apply m-0;
    > .u-col, [class*='col-'] {
      @apply p-0;
    }
  }
}

@mixin make-col($size, $columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size/ $columns);
}

.u-col {
  @apply w-full p-4;

  &.col-1 {
    @include make-col(1, 12)
  }
  &.col-2 {
    @include make-col(2, 12)
  }
  &.col-3 {
    @include make-col(3, 12)
  }
  &.col-4 {
    @include make-col(4, 12)
  }
  &.col-5 {
    @include make-col(5, 12)
  }
  &.col-6 {
    @include make-col(6, 12)
  }
  &.col-7 {
    @include make-col(7, 12)
  }
  &.col-8 {
    @include make-col(8, 12)
  }
  &.col-9 {
    @include make-col(9, 12)
  }
  &.col-10 {
    @include make-col(10, 12)
  }
  &.col-11 {
    @include make-col(11, 12)
  }
  &.col-12 {
    @include make-col(12, 12)
  }
  
  @media screen and (min-width: 640px) {
    &.col-sm-1 {
      @include make-col(1, 12)
    }
    &.col-sm-2 {
      @include make-col(2, 12)
    }
    &.col-sm-3 {
      @include make-col(3, 12)
    }
    &.col-sm-4 {
      @include make-col(4, 12)
    }
    &.col-sm-5 {
      @include make-col(5, 12)
    }
    &.col-sm-6 {
      @include make-col(6, 12)
    }
    &.col-sm-7 {
      @include make-col(7, 12)
    }
    &.col-sm-8 {
      @include make-col(8, 12)
    }
    &.col-sm-9 {
      @include make-col(9, 12)
    }
    &.col-sm-10 {
      @include make-col(10, 12)
    }
    &.col-sm-11 {
      @include make-col(11, 12)
    }
    &.col-sm-12 {
      @include make-col(12, 12)
    }
  }

  @media screen and (min-width: 768px) {
    &.col-md-1 {
      @include make-col(1, 12)
    }
    &.col-md-2 {
      @include make-col(2, 12)
    }
    &.col-md-3 {
      @include make-col(3, 12)
    }
    &.col-md-4 {
      @include make-col(4, 12)
    }
    &.col-md-5 {
      @include make-col(5, 12)
    }
    &.col-md-6 {
      @include make-col(6, 12)
    }
    &.col-md-7 {
      @include make-col(7, 12)
    }
    &.col-md-8 {
      @include make-col(8, 12)
    }
    &.col-md-9 {
      @include make-col(9, 12)
    }
    &.col-md-10 {
      @include make-col(10, 12)
    }
    &.col-md-11 {
      @include make-col(11, 12)
    }
    &.col-md-12 {
      @include make-col(12, 12)
    }
  }

  @media screen and (min-width: 1024px) {
    &.col-lg-1 {
      @include make-col(1, 12)
    }
    &.col-lg-2 {
      @include make-col(2, 12)
    }
    &.col-lg-3 {
      @include make-col(3, 12)
    }
    &.col-lg-4 {
      @include make-col(4, 12)
    }
    &.col-lg-5 {
      @include make-col(5, 12)
    }
    &.col-lg-6 {
      @include make-col(6, 12)
    }
    &.col-lg-7 {
      @include make-col(7, 12)
    }
    &.col-lg-8 {
      @include make-col(8, 12)
    }
    &.col-lg-9 {
      @include make-col(9, 12)
    }
    &.col-lg-10 {
      @include make-col(10, 12)
    }
    &.col-lg-11 {
      @include make-col(11, 12)
    }
    &.col-lg-12 {
      @include make-col(12, 12)
    }
  }

  @media screen and (min-width: 1280px) {
    &.col-xl-1 {
      @include make-col(1, 12)
    }
    &.col-xl-2 {
      @include make-col(2, 12)
    }
    &.col-xl-3 {
      @include make-col(3, 12)
    }
    &.col-xl-4 {
      @include make-col(4, 12)
    }
    &.col-xl-5 {
      @include make-col(5, 12)
    }
    &.col-xl-6 {
      @include make-col(6, 12)
    }
    &.col-xl-7 {
      @include make-col(7, 12)
    }
    &.col-xl-8 {
      @include make-col(8, 12)
    }
    &.col-xl-9 {
      @include make-col(9, 12)
    }
    &.col-xl-10 {
      @include make-col(10, 12)
    }
    &.col-xl-11 {
      @include make-col(11, 12)
    }
    &.col-xl-12 {
      @include make-col(12, 12)
    }
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}