@import "../../assets/mixins";

.u-card {
  @apply bg-white py-2 rounded-lg;
  @apply w-full;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @apply transition-all;


  &__title {
    @apply px-4 py-2;
    @apply text-xl font-medium;
  }

  &__body {
    @apply px-4 py-2 text-gray-700;
  }

  &__actions {
    @apply flex items-center;
    @apply px-4 py-2 text-gray-700;
  }

  &--hover {
    @include hover {
      &:hover {
        @apply shadow-xl;
      }
    }
  }

  &--outlined {
    @apply border;
  }

  &--flat {
    @apply shadow-none border-none;

    &.u-card--hover {
      @include hover {
        &:hover {
          @apply shadow-none;
        }
      }
    }
  }
}