h1, .unicorn-h1 {
  @apply font-bold;
  @apply text-3xl mb-8;
  @apply md:text-5xl md:mb-10;
}

h2, .unicorn-h2 {
  @apply font-bold;
  @apply text-2xl mb-6;
  @apply md:text-4xl md:mb-8;
}

h3, .unicorn-h3 {
  @apply font-bold;
  @apply text-xl mb-5;
  @apply md:text-3xl md:mb-6;
}

h4, .unicorn-h4 {
  @apply font-medium;
  @apply text-lg mb-3;
  @apply md:text-2xl md:mb-5;
}