@import "../../assets/mixins";

.u-data-table {
  @apply text-gray-700;

  &__wrapper {
    table {
      thead {
        tr {
          th {
            @apply text-gray-700 text-left;
            border-bottom: thin solid #e5e7eb;
          }
        }
      }
    }

    table {
      tbody {
        tr {
          &:not(:last-child) {
            td,
            th {
              border-bottom: thin solid #e5e7eb;
            }
          }

          &.active {

          }

          @include hover {
            &:hover {
              @apply bg-gray-50;
            }
          }
        }
      }
    }
  }

  &--fixed-header {
    thead th {
      box-shadow: inset 0 -1px 0 #E5E7EB;
    }
  }

  line-height: 1.5;
  @apply max-w-full;

  &__wrapper {
    table {
      width: 100%;
      border-spacing: 0;

      tbody, thead, tfoot {
        tr {
          td, th {
            @apply py-0 px-4 transition-all;
          }

          th {
            @apply select-none text-xs text-gray-500 font-bold h-12;
          }

          td {
            @apply text-base h-12;
          }
        }
      }
    }
  }
}